.boostLink{
    background-color: $dark-violet;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images//bg-boost-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    @include mq(large){
     background-image: url('../images//bg-boost-desktop.svg');   
    }
    &__title{
        @include title;
        color:white;
        font-size: 2.5rem;
        @include mq(xlarge){
            font-size: 4rem;
            margin-bottom: 25px;
        }
    }
    &__btn{
        @include btn;
        margin:0 auto;
        transition: 0.2s linear;
        &:hover{
            background-color: lighten($cyan, 7.5%);
          }
    }
}

footer{
    background-color: $very-dark-violet;
}

.contact{
    padding:45px 0px;
    @include mq(large){
        display: flex;
        justify-content: space-around;
    }
    &__title{
        text-align: center;
        color:white;
        font-size: 4rem;
        @include mq(large){
          align-self: center;
        }
    }
    &__list{
        text-align: center;
        color:$grayish-violet;
        margin-top:40px;
        list-style: none;
    }
    &__link{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 7px;
        @include mq(large){
         text-align: start;
         transition: 0.2s linear;
         cursor: pointer;
         &:hover{
             color: hsl(180, 66%, 49%);
         }
        }
    }
}

.contact__list > .contact__link:nth-child(1){
    color:white;
    margin-bottom: 20px;
}

.socialMedia{
  display: flex;
  justify-content: center;
  padding: 45px 0px 0px 0px;
  @include mq(large){
    padding:0;
  }
  cursor: pointer;
  &__img{
    margin:0px 10px;
    width:20px;
    height: 20px;
    @include mq(large){
        margin-top: 40px;
        &:hover{
            color: hsl(180, 66%, 49%);
        }
    }
  }
}