.stats{
  text-align: center;
    &__title{
     @include title;
     color:$very-dark-violet;
     font-size: 2.6rem;
    }
    &__text{
     @include text;
     color:$very-dark-blue;
    }
}

.box{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  min-height: 150px;
  margin: 0 auto;
  margin-top: 80px;
  padding-top:70px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  &__img{
    position: absolute;
    transform: translate(-50%,-50%);
    top:0;
    left:50%;
    background-image: url('../images/icon-brand-recognition.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $dark-violet;
    border-radius: 50%;
    width:50px;
    height:50px;
    box-sizing: content-box;
    padding: 15px;
  }
  &__title{
    @include title;
  }
  &__text{
    @include text;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.box:nth-child(4) > .box__img{
  background-image: url('../images/icon-detailed-records.svg');
}

.box:nth-child(5) > .box__img{
  background-image: url('../images/icon-fully-customizable.svg');
}